<div class="listing"><h1>Editing profile</h1></div>

<%= render 'form' %>
<div class ="linkbtns">
  <div class ="backbtn"><%= link_to 'Show', @profile %> </div>
<div class ="backbtn"><%= link_to 'Back', profiles_path %></div>
</div>