/* 
    Document   : style.css
    Created on : Oct 22, 2012, 9:48:14 AM
    Author     : nabeelnizami
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body
{
    background-color: #fff;
    
}
.wrapper{
    margin: 0 auto;
    min-height: 500px;
    width: 984px;
}
.login_menu {
    float: right;
    width: 36%;
}
.login_menu ul {
    float: left;
    width: 88%;
}
.login_menu ul li {
    float: left;
    width: 50%;
}
.login_menu a{
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-left: 28px;
    float: left;
}
.listing {
    width: 60%;
    float: left;
}
.listing h1 {
    font-weight: bold;
    font-size: 27px;
}
.username{
    float: left;
    width: 62%;
}
.username span {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    width: 100px;
    float: left;
}
.username p{
    font-size: 12px;
    font-style: italic;
    color: #6699CC;
    min-width: 70px;
    float: left;
}
.username a {
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.username1{
    float: right;
    margin-top: 18px;
    width: 40%;
}
.username1 a {
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.post_table{
    float: left;
    width: 100%;
    border: 1px #000 solid;
}
.post_table tr{
    float: left;
    width: 100%;

}
.post_table th{
    float: left;
    width: 14%;
}
.post_table td{
    float: left;
    width: 14%;
    text-align: center;
}
.post_table td a{
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.search{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.postbtn {
   float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 27%;
}
.postbtn a{
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin-right: 70px;

}
.post {
    float: left;
    width: 90%;
    border-bottom: 1px #000 solid;
}
.post-left {
    float: left;
    width: 14%

}
.post-mid {
    float: left;
    width: 60%

}
.post-right {
    float: left;
    width:26%
}
.pname {
    float: left;
    width: 100%;
}
.pname p{
    color: #cd0a0a
}
.ptitle p{
    color: #8b8b8b;
}
.pcontent {
    float: left;
    width: 100%;
}
.pcontent p {
    float: left;
    width: 95%;
    margin-top: 1px;
}
.ptype {
    float: left;
    width: 100%;
}
.ptype p {
    float: left;
    width: 70%;
    margin-top: 1px;
    color:#C83838;
    margin-left: 10px;
}
.ptype span {
    float: left;

}
.showbtn {
     float: left;
    margin-top: 25px;
    width: 150px;
}
.showbtn a {
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 5px;

}
.name{
    float: left;
    width: 100%;
    margin-top: 20px;

}
.name label{
    float: left;
    margin-left: 50px;
    width: 15%;
}

.name input {
    float: left;
    width: 32%;

}
.actions {
    float: left;
    width: 50%;
    margin-left: 400px;
    margin-top: 20px;

}
.backbtn {
    float: left;
    width: 20%;
    margin-left: 52px;
}
.backbtn a {
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 5px;

}
.linkbtns {
    float: left;
    margin-bottom: 10px;
    margin-left: 54px;
    margin-top: 10px;
    width: 82%;
}
.notice {
    float: left;
    width: 100%;
}
.show_name{
    float: left;
    width: 100%;
}
.comments {
    border: 5px solid #6699CC;
    float: left;
    margin-left: 151px;
    padding: 5px;
    width: 55%;
}
.comment_name {
    float: left;
    width: 25%;
}
.comment_content {
    float: left;
    width: 75%;
}
.logo {
    float: left;
    width: 50%;
    max-height: 200px;
}
.logo img{
    float: left;
    width: 200px;
    height: 200px;
}
.blog {
    float: left;
    width: 90%;
    border-bottom: 1px #D0DCE0 solid;
    margin-top: 10px;
}
.blog-left {
    float: left;
    width: 14%

}
.blog-left img {
    float: left;
    width: 100px;
    height: 100px;
}
.blog-mid {
    float: left;
    width: 60%

}
.blog-right {
    float: left;
    width:26%
}
.bname {
    float: left;
    width: 100%;
}
.bname p{
    color: #cd0a0a
}
.btitle {
    float: left;
    width: 100%;
}
.btitle p{
    color: #8b8b8b;
}
.bcontent {
    float: left;
    width: 100%;
}
.bcontent p {
    float: left;
    width: 95%;
    margin-top: 1px;
}
.bcontent a{
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-left: 2px;
    float: left;
}
.bcat {
    float: left;
    width: 100%;
}
.bcat p {
    float: left;
    width: 70%;
    margin-top: 1px;
    color:#C83838;
    margin-left: 10px;
}
.bcat span {
    float: left;

}
.profile{
    float: left;
    margin-top: 20px;
    width: 100%;
}
.profile_name {
    float: left;
    width: 100%;
}
.profile_name p{
    float: left;
    width: 70%;
    margin-top: 1px;
    color:#C83838;
    margin-left: 10px;
}
.profile_name span{
    color: #A6C7E1;
    float: left;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 1px;
    width: 70%;
}

.profile_name_img {
    float: left;
    width: 20%;
}
.profile_name_img img{
    float: left;
    width: 230px;
    height: 230px;
    margin-left: 10px;
}
.left_profile{
    float: left;
    width: 25%
}
.right_profile{
    float: left;
    width: 70%
}
.bloggers_info {
    float: left;
    margin-top: 10px;
    padding: 5px;
    width: 24%;
}
.bloggers_info img {
    float: left;
    width: 50px;
    height: 50px;
}
.blogger_fname {
    float: left;
    width: 60px;
}
.blogger_intro {
    float: left;
    width: 150px;
}
.blogger_intro p{

}
.left_blogger {
    float: left;
    width: 70px;
}
.right_blogger {
    float: left;
    width: 150px;
}
.myblog {
    float: left;
    width: 100%;
}
.myblog a{
    background-color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-left: 28px;
    float: left;
}
.login_page {
    float: left;
    margin-left: 448px;
    margin-top: 35px;
    width: 55%;
}
.login_email {
    float: left;
    width: 70%
}
.login_partials {
    float: left;
    width: 60%
}
.login_action {
    float: left;
    width: 45%;
    margin-top: 20px;
}
.dashboard{
    float: left;
    width: 100%;
}
.dashboard_left {
    float: left;
    width: 25%;
}
.dashboard_mid {
    float: left;
    width: 75%;
}
.left_dash_links {
    float: left;
    width: 100%;
}
.uploaded_img{
    float: left;
    margin-left: 231px;
    
    width: 70%;
}